.submenu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submenu-item .mat-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  overflow: visible !important;
}

.submenu-item .nav-text {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
