<div
  class="login-container w-full h-screen md:items-center md:justify-center bg-mBg"
>
  <!-- Logo and Title Section -->
  <div class="mb-2 text-center pt-16 md:pt-2">
    <img class="mx-auto mb-4" src="assets/logo.png" alt="logo" />
    <h3 class="text-2xl font-bold text-gray-700">Reset Your Password</h3>
  </div>
  <div
    class="flex flex-col md:flex-row bg-mBg p-2 rounded-lg space-y-6 md:space-y-0 md:space-x-6 md:px-32"
  >
    <!-- User Information Section -->
    <div class="w-full md:w-1/2 bg-white p-6 pb-2 rounded-lg shadow-md">
      <div class="flex items-center space-x-4 mb-6">
        <!-- Profile Image -->
        <img
          [src]="image ? baseUrl + image : 'assets/sample-image.jpg'"
          class="w-16 h-16 rounded-full border border-gray-200"
        />
        <div>
          <h2 class="text-xl font-semibold text-gray-800 break-words">
            {{ userDetails.title }} {{ userDetails.employeeFirstName }}
            {{ userDetails.employeeLastName }}
          </h2>
        </div>
      </div>
      <!-- User Details -->
      <div class="space-y-4">
        <div>
          <div class="flex items-start mb-2 flex-col">
            <p class="text-sm font-medium text-gray-500">Role :</p>
            <div class="text-sm font-medium text-gray-800">
              {{ userDetails.role }}
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-start mb-2 flex-col">
            <p class="text-sm font-medium text-gray-500">Email :</p>
            <div class="text-sm font-medium text-gray-800">
              {{ userDetails.email }}
            </div>
          </div>
        </div>
        <!-- Address Details -->
        <div>
          <div class="flex items-start mb-2 flex-col">
            <p class="text-sm font-medium text-gray-500">Address:</p>
            <div class="text-sm font-medium text-gray-800">
              <p>{{ userDetails.address }}, {{ userDetails.address2 }},</p>
              <p>{{ userDetails.city }}, {{ userDetails.state }},</p>
              <p>{{ userDetails.country }} {{ userDetails.zipCode }}.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Password Reset Form -->
    <div class="w-full md:w-1/2 bg-white p-6 pb-2 rounded-lg shadow-md">
      <form class="space-y-4" (submit)="onSubmit()">
        <!-- Mobile Number Section -->
        <div class="text-sm font-medium text-gray-800 w-full text-justify">
          <div>
            <div class="flex items-start mb-2 flex-row">
              <p class="text-sm font-medium text-gray-500 w-1/3">
                Mobile Number :
              </p>
              <span class="text-sm font-semibold text-gray-800 w-2/3">
                {{ userDetails.mobileNumber }}
              </span>
            </div>
          </div>
          <!-- Consent Checkboxes -->
          <mat-checkbox
            name="checked"
            #checked="ngModel"
            class="example-margin"
            [(ngModel)]="agree"
            [checked]="true"
          >
            <span class="text-red-700"
              >I Agree to receive task assignment and status messages from
              AcomDev-BRMGR at Phone Number provided above. I understand data
              rates may apply.</span
            ></mat-checkbox
          >
          <div (click)="openPrivacyPolicy()">
            <mat-checkbox
              name="privacyPolicy"
              #privacyPolicy="ngModel"
              class="example-margin"
              [(ngModel)]="isAgree"
            >
              <span class="text-text"
                >I agree to our Privacy Policy
              </span></mat-checkbox
            >
          </div>
        </div>
        <!-- New Password Field -->
        <div>
          <mat-form-field appearance="outline" class="w-full rounded-field">
            <mat-label>New Password</mat-label>
            <input
              matInput
              [(ngModel)]="newPassword"
              name="newPassword"
              #newPasswordField="ngModel"
              required
              type="password"
            />
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error
              *ngIf="newPasswordField.invalid && newPasswordField.touched"
            >
              <span *ngIf="newPasswordField.errors?.['required']"
                >Password is required.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Confirm Password Field -->
        <div>
          <mat-form-field appearance="outline" class="w-full rounded-field">
            <mat-label>Confirm Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input
              matInput
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              #confirmPasswordField="ngModel"
              required
              [type]="isPasswordHidden() ? 'password' : 'text'"
              (keydown.enter)="preventEnter($event)"
            />
            <!-- Toggle Password Visibility -->
            <button
              mat-icon-button
              matSuffix
              class="pr-4"
              (click)="togglePasswordVisibility($event)"
              aria-label="Toggle password visibility"
            >
              <mat-icon>{{
                isPasswordHidden() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                confirmPasswordField.invalid && confirmPasswordField.touched
              "
            >
              <span *ngIf="confirmPasswordField.errors?.['required']"
                >Confirm password is required.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Password Validation Error Message -->
        <div
          *ngIf="!isValidPassword() && confirmPasswordField?.touched"
          class="text-red-600 text-sm"
        >
          {{ errorMessage }}
        </div>
        <!-- Submit Button -->
        <div class="mt-16">
          <button
            mat-raised-button
            type="submit"
            [disabled]="!isValidPassword()"
            class="w-full text-white border bg-text text-lg py-2 rounded-full flex items-center justify-center disabled:cursor-not-allowed"
          >
            Reset Password
          </button>
        </div>
        <!-- Disclaimer -->
        <div class="text-sm font-medium text-gray-800 w-full">
          By submitting this form, you consent to receive an messages via SMS
          from AcomDev-BRMGR. Message and data rates may apply.
        </div>
      </form>
    </div>
  </div>
</div>
