<div
  class="w-full bg-white shadow-lg p-4 pb-8 md:block overflow-y-auto flex-grow max-h-[80vh]"
>
  <!-- Flex container to position the navigation bar and close button -->
  <div class="flex justify-between">
    <app-navigationbar
      pageTitle="View Plan Type"
      [arrow]="false"
    ></app-navigationbar>
    <button mat-icon-button class="pt-2" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Flex container for the first row of plan type details -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Plan Type Name:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.planTypeName }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Flex container for the first row of plan type details -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Description:
        </div>
        <div class="user-detail-value text-gray-600 break-words text-justify">
          {{ data.description || "No description available" }}
        </div>
      </div>
    </div>
  </div>
  <div class="user-info-row flex flex-wrap">
    <!-- Flex container for the second row of plan type details -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Status:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.status }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Flex container for the third row that displays the history of the plan type -->
    <div
      class="flex flex-col p-3 w-full border border-gray-300 rounded-md md:flex-row items-start md:items-center mb-2"
    >
      <div class="user-detail-label font-bold text-gray-700 mr-2 md:w-1/4">
        History:
      </div>
      <div
        class="user-detail-value text-gray-600 break-words w-full md:w-1/3 mb-2 md:mb-0"
      >
        {{ data.history?.createdBy }}<br />
        {{ data.history?.createdDate }}
      </div>
      <div class="user-detail-value text-gray-600 break-words w-full md:w-1/3">
        {{ data.history?.lastChangedBy }}<br />
        {{ data.history?.lastChangedDate }}
      </div>
    </div>
  </div>
</div>
