<div
  class="w-full bg-white shadow-lg p-4 pb-8 md:block flex-grow overflow-y-auto max-h-[80vh]"
>
  <!-- Header Section -->
  <div class="flex justify-between">
    <app-navigationbar
      pageTitle="View Site"
      [arrow]="false"
    ></app-navigationbar>
    <button mat-icon-button class="pt-8" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Site Details Section -->
  <div class="user-info-row flex flex-wrap">
    <!-- Site Name -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Site Name:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.siteName }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Site Code -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Site Code:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.siteCode }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Address -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Address:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.address }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- City -->
    <div
      class="user-detail-box md:w-1/2 w-full p-3 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">City:</div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.city }}
        </div>
      </div>
    </div>

    <!-- State -->
    <div
      class="user-detail-box md:w-1/2 w-full p-3 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">State:</div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.state }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Country -->
    <div
      class="user-detail-box md:w-1/2 w-full p-3 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Country:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.country }}
        </div>
      </div>
    </div>

    <!-- Zip Code -->
    <div
      class="user-detail-box md:w-1/2 w-full p-3 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          ZipCode:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.zipCode }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!--    Description:
 -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Description:
        </div>
        <div class="user-detail-value text-gray-600 break-words text-justify">
          {{ data.description || "No description available" }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-row flex flex-wrap">
    <!-- Status -->
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Status:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.status ? "Active" : "Inactive" }}
        </div>
      </div>
    </div>
  </div>

  <!-- History Section -->
  <div class="user-info-row flex flex-wrap">
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex flex-col md:flex-row items-start md:items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2 md:w-1/4">
          History:
        </div>
        <div
          class="user-detail-value text-gray-600 break-words w-full md:w-1/3 mb-2 md:mb-0"
        >
          {{ data.history?.createdBy }}<br />
          {{ data.history?.createdDate }}
        </div>
        <div
          class="user-detail-value text-gray-600 break-words w-full md:w-1/3"
        >
          {{ data.history?.lastChangedBy }}<br />
          {{ data.history?.lastChangedDate }}
        </div>
      </div>
    </div>
  </div>
</div>
