@media screen and (orientation: landscape) {
  :host {
    display: block;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::ng-deep .mat-dialog-container {
    max-height: 100vh !important;
    overflow-y: auto !important;
  }
}
