.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined {
  background-color: white !important;
  border-radius: 28px !important;
}

.mdc-notched-outline__leading {
  border-top-left-radius: 28px !important;
  border-bottom-left-radius: 28px !important;
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.mdc-notched-outline__trailing {
  border-top-right-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}

.mat-mdc-form-field.rounded-field .mdc-text-field {
  border-radius: 28px !important;
}

.mdc-notched-outline {
  --mdc-notched-outline-border-width: 1px !important;
}

/* .mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined {
  background-color: white !important;
  border-radius: 28px !important;
}

.mdc-notched-outline__leading {
  border-top-left-radius: 28px !important;
  border-bottom-left-radius: 28px !important;
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.mdc-notched-outline__trailing {
  border-top-right-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}


.mdc-notched-outline {
  --mdc-notched-outline-border-width: 1px !important;
}


.mat-mdc-form-field-wrapper {
  padding-bottom: 0 !important;
}


.mat-mdc-card {
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid;
}

.mat-mdc-card.bg-green-50 {
  border-color: #4caf50;
}

.mat-mdc-card.bg-red-50 {
  border-color: #f44336;
}


.text-text a {
  transition: opacity 0.2s ease-in-out;
}

.text-text a:hover {
  opacity: 0.8;
}

.mat-mdc-raised-button {
  background-color: #3a3a81 !important; 
  color: white !important;
  border-radius: 9999px !important; 
  height: 48px !important; 
  font-size: 1.125rem !important; 
}

.mat-mdc-raised-button:hover {
  opacity: 0.9 !important;
}

.mat-mdc-raised-button {
  --mdc-protected-button-container-elevation: none !important;
  --mdc-protected-button-container-shape: 9999px !important;
  box-shadow: none !important;
} */
