<div class="flex flex-col  mx-auto overflow-hidden overflow-y-auto">
  <div class="p-5 bg-white">
    <div class="text-2xl font-bold text-center text-text">ACOMdev, LLC</div>
    <div class="text-xl font-semibold text-center text-text">
      Text Messaging Service Privacy Policy
    </div>
    <p class="text-center text-gray-500 italic">
      <i>Last update: January 2025</i>
    </p>
    <hr>
  </div>

  <mat-dialog-content class="mat-typography flex-1  px-5">
    <div class="font-sans leading-relaxed">
      <section class="mb-6">
        <div class="text-lg font-bold mt-2 mb-4 text-text">Overview</div>
        <p class="text-justify">
          ACOMdev, LLC privacy statement recognizes the value of privacy of
          the user community.
        </p>
        <p class="text-justify">
          This privacy notice provides more specific information on how
          ACOMdev BPM (Business Process Management) text messaging service
          collects and processes your personal information.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">Scope</div>
        <p class="text-justify">
          The notice applies to our practices for gathering and disseminating
          information related to the ACOMdev text messaging service ("we",
          "us", or "our") and is meant to provide you an overview of our
          practices when collecting and processing personal information.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          How We Collect Information
        </div>
        <p class="text-justify">We collect personal information in the following circumstances:</p>
        <ul class="ml-5 mb-4 list-disc">
          <li class="text-justify">
            <i>Direct Collection when</i> you provide information by
            responding to text messages.
          </li>
          <li class="text-justify">
            <i>Automated Processes,</i> when the Twilio platform gathers
            information as you interact with the service.
          </li>
        </ul>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          What Type of Information We Collect
        </div>
        <h4 class="text-base font-bold mt-4 mb-3">Direct Collection</h4>
        <p class="text-justify">We directly collect the following personal information:</p>
        <ul class="ml-5 mb-4 list-disc">
          <li class="text-justify">Opt-out preferences.</li>
          <li class="text-justify">Content of your text message responses to us.</li>
        </ul>

        <h4 class="text-base font-bold mt-4 mb-3 text-text">
          Collection from your acceptance
        </h4>
        <p class="text-justify">
          We import personal information from acceptance document and sources.
          The information includes:
        </p>
        <ul class="ml-5 mb-4 list-disc">
          <li class="text-justify">First and last name</li>
          <li class="text-justify">Phone number.</li>
        </ul>

        <h4 class="text-base font-bold mt-4 mb-3 text-text">
          Automated Collection
        </h4>
        <p class="text-justify">We automatically collect the following personal information:</p>
        <ul class="ml-5 mb-4 list-disc">
          <li class="text-justify">
            Device status indicates whether a device is available for
            messaging.
          </li>
          <li class="text-justify">Carrier (e.g. Verizon, AT&T, etc.)</li>
          <li class="text-justify">
            Country associated with the phone (we are not sending
            international text messages)
          </li>
          <li class="text-justify">Delivery status</li>
          <li class="text-justify">
            Error codes indicating why a message was not delivered (e.g.
            number associated with a landline, unreachable device, etc.)
          </li>
        </ul>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          How This Information Is Used
        </div>
        <p class="text-justify">
          We use the personal information we collect to communicate with you
          regarding ACOMdev, LLC BPM messages, operations, and services, such
          as:
        </p>
        <ul class="ml-5 mb-4 list-disc">
          <li class="text-justify"><strong>Tasks and Sequence assignments</strong></li>
          <li class="text-justify"><strong>Updates to open tasks and sequences</strong></li>
          <li class="text-justify"><strong>System Notifications</strong></li>
        </ul>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          With Whom This Information Is Shared
        </div>
        <p class="text-justify">
          We do not sell or rent your personal information. We may, however,
          share your personal information in limited circumstances, such as
          with support staff or external service providers that support
          business activities. Specifically, we share your information with
          Twilio, which provides the communications platform ACOMdev, LLC uses
          for text messaging services.
        </p>
        <p class="text-justify">
          We require our service providers to keep your personal information
          secure, and do not allow them to use or share your personal
          information for any purpose other than providing services on our
          behalf.
        </p>
        <p class="text-justify">
          We may also share your personal information when required by law, or
          when we believe, sharing will help to protect the safety, property,
          or rights of the system users.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          What Choices You Can Make About Your Information
        </div>
        <p class="text-justify">
          If you wish to unsubscribe from text messages, you can reply with
          words, such as 'cancel', 'end', 'quit', 'unsubscribe', 'stop', or
          'stop all' and you will no longer receive messages.
        </p>
        <p class="text-justify">
          If you wish to re-subscribe, reply with words, such as 'start',
          'yes', or 'unstop'.
        </p>
        <p class="text-justify">
          The accuracy of your contact information within our system is
          critical for the delivery of text messages. If you wish to update
          your contact information, use the password change screen which also
          links to messaging approval and your personal data.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          How Information Is Secured
        </div>
        <p class="text-justify">
          ACOMdev, LLC recognizes the importance of maintaining the security
          of the information it collects and maintains, and we endeavor to
          protect information from unauthorized access and damage. ACOMdev,
          LLC strives to ensure reasonable security measures are in place,
          including physical, administrative, and technical safeguards to
          protect your personal information.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          Privacy Notice Changes
        </div>
        <p class="text-justify">
          This privacy notice may be updated from time to time. We will post
          the date our notice was last updated at the top of this privacy
          notice.
        </p>
      </section>

      <section class="mb-6">
        <div class="text-lg font-bold mt-6 mb-4 text-text">
          Who to Contact with Questions or Concerns
        </div>
        <p class="text-justify">
          If you have any concerns or questions about how your personal data
          is used, please contact ACOMdev, LLC at
          <a
            class="text-blue-600 hover:underline"
            href="mailto:privacy@acomdev.com"
            >privacy&#64;acomdev.com</a
          >
          or 7508 Surrey Court, Indianapolis, IN.46227.
        </p>
      </section>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" *ngIf="hideFooter" class="flex-shrink-0 bg-white py-3 px-5 border-t shadow-md">
    <button
      class="mat-raised-button text-toolbarBg bg-text px-4 py-2 rounded-md"
      mat-raised-button
      cdkFocusInitial
      [mat-dialog-close]="true"
    >
      I AGREE
    </button>
  </mat-dialog-actions>
</div>