<div
  class="w-full bg-white shadow-lg p-4 pb-8 md:block flex-grow overflow-y-auto max-h-[80vh]"
>
  <!-- Navigation bar section, includes the page title and a close button -->
  <div class="flex justify-between">
    <app-navigationbar
      pageTitle="View Default Setting"
      [arrow]="false"
    ></app-navigationbar>
    <button mat-icon-button class="pt-8" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- Setting name section displaying the name of the configuration -->
  <div class="user-info-row flex flex-wrap">
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Setting Name:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.name }}
        </div>
      </div>
    </div>
  </div>
  <!-- Setting description section displaying the description of the configuration -->
  <div class="user-info-row flex flex-wrap">
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Description:
        </div>
        <div class="user-detail-value text-gray-600 break-words text-justify">
          {{ data.description || "No description available" }}
        </div>
      </div>
    </div>
  </div>
  <!-- Setting value section displaying the value of the configuration -->
  <div class="user-info-row flex flex-wrap">
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">Value:</div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.value }}
        </div>
      </div>
    </div>
  </div>
  <!-- History section displaying the history of the configuration -->
  <div class="user-info-row flex flex-wrap">
    <div
      class="flex flex-col p-3 w-full border border-gray-300 rounded-md md:flex-row items-start md:items-center mb-2"
    >
      <div class="user-detail-label font-bold text-gray-700 mr-2 md:w-1/4">
        History:
      </div>
      <div
        class="user-detail-value text-gray-600 break-words w-full md:w-1/3 mb-2 md:mb-0"
      >
        {{ data.history?.createdBy }}<br />
        {{ data.history?.createdDate }}
      </div>
      <div class="user-detail-value text-gray-600 break-words w-full md:w-1/3">
        {{ data.history?.lastChangedBy }}<br />
        {{ data.history?.lastChangedDate }}
      </div>
    </div>
  </div>
</div>
