<div
  class="w-full bg-white shadow-lg p-4 pb-8 md:block overflow-y-auto flex-grow max-h-[80vh]"
>
  <div class="flex justify-between">
    <app-navigationbar
      pageTitle="View Department"
      [arrow]="false"
    ></app-navigationbar>
    <button mat-icon-button class="pt-8" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- Department Name Display -->
  <div class="user-info-row flex flex-wrap">
    <div class="user-detail-box w-full p-3 border border-gray-300 rounded-md">
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Department Name:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.departmentName }}
        </div>
      </div>
    </div>
  </div>
  <!-- Section containing department description and status -->
  <div class="user-info-row flex flex-wrap">
    <div
      class="user-detail-box w-full md:w-full p-2 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Description:
        </div>
        <div class="user-detail-value text-gray-600 break-words text-justify">
          {{ data.description || "No description available" }}
        </div>
      </div>
    </div>
    <!-- Status Field -->

    <div
      class="user-detail-box w-full md:w-full p-2 border border-gray-300 rounded-md"
    >
      <div class="flex items-center mb-2">
        <div class="user-detail-label font-bold text-gray-700 mr-2">
          Status:
        </div>
        <div class="user-detail-value text-gray-600 break-words">
          {{ data.status }}
        </div>
      </div>
    </div>
  </div>
  <!-- History section displaying creation and modification details -->
  <div
    class="user-detail-box w-full md:w-full p-2 border border-gray-300 rounded-md"
  >
    <div class="flex flex-col md:flex-row items-start md:items-center mb-2">
      <div class="user-detail-label font-bold text-gray-700 mr-2 md:w-1/4">
        History:
      </div>
      <div
        class="user-detail-value text-gray-600 break-words w-full md:w-1/3 mb-2 md:mb-0"
      >
        {{ data.history?.createdBy }}<br />
        {{ data.history?.createdDate }}
      </div>
      <div class="user-detail-value text-gray-600 break-words w-full md:w-1/3">
        {{ data.history?.lastChangedBy || "N/A" }}<br />
        {{ data.history?.lastChangedDate || "N/A" }}
      </div>
    </div>
  </div>
</div>
