:host {
  display: block;
}

.notification-menu {
  max-width: none !important;
  width: 384px !important;
  margin-right: 0px !important;
}

.notification-container {
  max-width: 384px;
}

.mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.notification-scroll {
  max-height: 400px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.notification-scroll::-webkit-scrollbar {
  width: 6px;
}

.notification-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.notification-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  width: 384px !important;
}

@media screen and (max-width: 768px) {
  ::ng-deep .mat-menu-panel {
    width: 100vw !important;
    max-width: 100vw !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    transform: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mat-drawer.mat-drawer-side {
    width: 80px !important;
    z-index: 50 !important;
  }

  .toolbar-container {
    position: relative;
    z-index: 55;
  }
}
