// App.xcconfig
// CODE_SIGN_STYLE = manual
// DEVELOPMENT_TEAM = J6MWBCBLW7
// CODE_SIGN_IDENTITY = Apple Distribution
// PROVISIONING_PROFILE_SPECIFIER = iOS_Test
// App target ONLY settings
CODE_SIGN_IDENTITY[config=Release][sdk=iphoneos*] = Apple Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = J6MWBCBLW7
PROVISIONING_PROFILE_SPECIFIER = iOS_Test
PRODUCT_BUNDLE_IDENTIFIER = com.bpmgr.app
