name: Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Capacitor sync
        run: |
          npm run build
          npx cap sync ios

      - name: Decode certificates
        run: |
          echo "$CERT_P12" | base64 --decode > cert.p12
          echo "$MOBILEPROVISION" | base64 --decode > profile.mobileprovision
      - name: Set up Xcode automatic signing
        run: |
          xcodebuild -workspace ios/App/App.xcworkspace \
            -scheme App \
            -configuration Release \
          CODE_SIGN_STYLE=Automatic \
          DEVELOPMENT_TEAM=J6MWBCBLW7
      - name: Build IPA with Xcode
        run: |
          xcodebuild -workspace ios/App/App.xcworkspace \
            -scheme App \
            -archivePath output/App.xcarchive \
            clean archive \
            DEVELOPMENT_TEAM=J6MWBCBLW7 \
            PROVISIONING_PROFILE_SPECIFIER="Shenbagaraj K"

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
            -archivePath output/App.xcarchive \
            -exportOptionsPlist ios/App/exportOptions.plist \
            -exportPath output

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: output/*.ipa
