name: Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Capacitor sync
        run: |
          npm run build
          npx cap sync ios

      # ---------------------------
      # Certificates & provisioning
      # ---------------------------
      - name: Decode certificates
        run: |
          echo "$CERT_P12" | base64 --decode > cert.p12
          echo "$MOBILEPROVISION" | base64 --decode > profile.mobileprovision

      - name: Install certificate
        run: |
          security create-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security set-keychain-settings -lut 21600 build.keychain
          security import cert.p12 -k build.keychain -P "$CERT_P12_PASSWORD" -A -T /usr/bin/codesign
          security default-keychain -s build.keychain


      - name: Install provisioning profile
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/

      # ---------------------------
      # Build IPA
      # ---------------------------
      - name: Build IPA with Xcode
        run: |
          xcodebuild archive \
            -workspace ios/App/App.xcworkspace \
            -scheme App \
            -configuration Release \
            -archivePath output/App.xcarchive \
            DEVELOPMENT_TEAM=J6MWBCBLW7 \
            PROVISIONING_PROFILE_SPECIFIER="Shenbagaraj K" \
            PRODUCT_BUNDLE_IDENTIFIER=com.bpmgr.app \
            CODE_SIGN_STYLE=Manual \
            -allowProvisioningUpdates

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
            -archivePath output/App.xcarchive \
            -exportOptionsPlist ios/App/exportOptions.plist \
            -exportPath output

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: output/*.ipa
