.mat-mdc-snack-bar-container.snackbar.success {
  --mdc-snackbar-container-color: #4caf50 !important;
  transform: translateY(160%) !important;
}

.mat-mdc-snack-bar-container.snackbar.error {
  --mdc-snackbar-container-color: #f44336 !important;
  transform: translateY(160%) !important;
}

.mat-mdc-snack-bar-container.snackbar.info {
  --mdc-snackbar-container-color: #2196f3 !important;
  transform: translateY(160%) !important;
}

/* Style for the button */
.mat-mdc-snack-bar-container.snackbar.success .mat-mdc-button {
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar.error .mat-mdc-button {
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar.info .mat-mdc-button {
  color: white !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white !important;
}

@media (max-width: 768px) {
  .mat-mdc-snack-bar-container {
    transform: translateY(60%) !important;
  }
}

@media (max-width: 1023px) {
  .mat-mdc-snack-bar-container {
    transform: translateY(60%) !important;
  }
}

@media (min-width: 1024px) {
  .mat-mdc-snack-bar-container {
    transform: translateY(60%) !important;
  }
}
